# .gitignore to include non-project-specific ignorable files in jetbrains repositories
#
# last updated on 3-26-2022

# global - directory-based project configuration
/.idea/

# global - file-based project configuration
*.iws
*.iml
*.ipr

# intellij - compilation
/out/